name: Test

on:
  push:
    branches:
      - main
      - master
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]

    name: Python ${{ matrix.python-version }}

    services:
      rabbitmq:
        image: rabbitmq:3.12
        env:
          RABBITMQ_DEFAULT_USER: guest
          RABBITMQ_DEFAULT_PASS: guest
        ports:
          - 5672

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip poetry
          poetry config virtualenvs.create false
          poetry install --no-root

      - name: Lint package
        run: poe lint

      - name: Test package
        run: poe test
        env:
          PYTEST_RABBITMQ_HOST: 127.0.0.1
          PYTEST_RABBITMQ_PORT: ${{ job.services.rabbitmq.ports['5672'] }}

      - name: Upload coverage
        uses: codecov/codecov-action@v4
        with:
          files: reports/coverage.xml
